*{
    margin: 0;
    padding: 0;
    border: border-box;
}
:root{
    --força: #411c29;
    --feminilidade: #a55974;
    --feminilidade2: #a55974c2;
    --luxo: #cc8b2b;
    --beleza: #fcf5e3;
    --beleza2: #f7f5ef;
    --elegancia: #e0bf47;

}

/* ------------------------------MOBILE FIRST -------------- */
/* ________________________________HEADER___________________ */
body{
   background-color: var(--beleza2);
    font-family: "Teachers", sans-serif;
}
h1{
    font-family: "Marcellus", serif;
}
header{
    background-color: var(--força);
    height: 120px;
    display: flex;
    gap: 30%;
}

header nav{
    background-color: #411b28e9;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height:0;
    overflow: hidden;
    transition: 500ms;
}
header nav a{
    text-decoration: none;
    font-size: 1.25rem;
    color: #F7E8E0;
    padding: 1rem;
    transition: all 0.2s ease;
} 
header nav a:hover{
    border-bottom: 1px solid var(--beleza) ;
    transition: all 0.5s ease;
}
input:checked ~ nav{
    height: 100vh;
}
input{
    display: none;
}
.menu{
    color: var(--beleza);
   display: block;
   height: 60px;
   font-size: 4rem;
   margin-top: 50px;
   z-index: 1;
}
.menu label{
    width: 60px;
    height: 60px;
    position: absolute;
}
input:checked ~ .menu .ph-list{
    display: none;
}
.ph-x {
    display: none;
}
input:checked ~ .menu .ph-x{
    display: block;
} 
.imgHeader{
    height: 150px;
    width: 150px;
    border-radius: 0 0 999px 999px;
    box-shadow: rgba(191, 135, 50, 0.652) 0px 10px 10px;
}

/* --------------------------BODY CONTENT------------------------ */

#Home{
    overflow: hidden;
    background-color: var(--força);
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    z-index: -1;
    position: relative;
}
.homeContent {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.texto {
   color: var(--beleza);
   padding: 20px;
   background-color: var(--feminilidade2);
   top: 30%;
   position: absolute;
   width: 300px;
   display: flex;
   align-items: center;
}
.imagemRenataCapa{
    height: 300px;
    margin-left: 50%;
}
#ramoDireito, #ramoEsquerdo{
    position: absolute;
    height: 300px;
}
 #ramoEsquerdo{
    left: 0px;
    bottom: 5px;
}
#ramoDireito{
    right: 0px;
    top:0;
}
/* ---------------------------PROCEDIMENTOS------------------------ */
.procedimentos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    position: relative;
    align-items: center;
}
#tituloProcedimento{
    color: var(--luxo);
    font-size: 3rem;
    position: absolute;
    transition: all 0.2s;
    top: 0;
    z-index: -3;
}
.cardProcedimento{
    width: 400px;
    background-color: var(--luxo);
    padding: 20px;
}
.cardProcedimentoContent> img{
    width: 120px;
    height: 180px;
    border-radius: 99px 99px 0 0;
    margin: 0 auto;
}
.cardProcedimentoContent{
    display: flex;
    flex-direction: column;
    background-color: var(--beleza2);
    padding: 20px;
}
.cardProcedimentoContent > h1{
    font-family: "Birthstone Bounce", cursive;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--força);
}
.cardProcedimentoContent > p {
   text-align: justify;
}

.cardProcedimento:last-child{
    margin-bottom: 50px;
}
.cardProcedimento:first-of-type{
    margin-top: 80px;
}
 /* ---------------------------CONTATO----------------------- */
#Contato{
    display: flex;
    flex-direction: column;
    background-color: #e9d488;
    background-image: linear-gradient(18deg, #e9d488 0%, #f7f5ef 23%, #f7f5ef 84%);     
}
#Contato>img{
    height: 100px;
    width: 100px;
    align-self: center;
}
.informacoesContato{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 15px;
    color: #a55974;
    line-height: 1.2rem;
}
.informacoesContato>h3{
    font-weight: 100;
    font-size: medium;
}
.botoesRedesSociais{
    display: flex;
    gap: 40px;
}
.botoesRedesSociais button{
    background-color: transparent;
    border: none;
    font-size: 4rem;
    color: var(--feminilidade); 
}
.botoesRedesSociais a{
    text-decoration: none;
    transition: all .2s ease-out;
}
.botoesRedesSociais a:visited{
    color: var(--feminilidade2);
}
.botoesRedesSociais a:hover{
    color: var(--luxo);
}
.googleMaps{
    margin:  0 auto 30px auto;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--beleza);
    padding: 30px;
    background-color: var(--força);
}
footer > img{
    width: 50px;
}

/* ------------------TELA ACIMA DE 760PX ------------------ */
@media only screen and (min-width:760px) {
/* ________________________________HEADER___________________ */
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header nav{
        overflow: visible;
        flex-direction: row;
    }
    .imgHeader{
        box-shadow: rgba(191, 135, 50, 0.652) 0px 10px 10px;
        cursor: pointer;
        height: 200px;
        width: 200px;
        margin: 50px 0 0 90px;
    }
    input{
        display: none;
    }
    .menu{
        display: none;
    }
    /* ---------------------------BODY------------------------------ */
    #Home{
        height: 100%;
        margin-bottom: 50px;
    }
    .homeContent{
        width: 80vw;
        background-image: url(/img/bacgroundReviva.png);
        background-repeat: repeat-x;
        background-position: 30px;
    }
    .texto{
        width: 300px;
        height: 250px;
    }
    .imagemRenataCapa{
        height: 480px;
    }
    #ramoEsquerdo{
        left: 10px;
        bottom: 35px;
    }
    #ramoDireito{
        right: 10px;
        top:0;
    }
    /* ----------------------PROCEDIMENTOS--------------------------- */
    .procedimentos{
       display: flex;
       flex-flow: row wrap;
       width: 99%;
       gap: 50px;
       margin: 0 auto;
       align-items: center;
       justify-content: center;
    }
    #tituloProcedimento{
        font-size: 5rem;
    }

    /* ---------------------------------A CLINICA-------------------------- */
    .aReviva{
        height: 300px;
        background-color: var(--força);
    }
    /* ---------------------------CONTATO------------------------------- */
    .mapouter{
        padding: 20px;
        border-radius: 8px;
    }
    #Contato{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}
