@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: border-box;
}
:root {
  --força: #411c29;
  --feminilidade: #a55974;
  --feminilidade2: #a55974c2;
  --luxo: #cc8b2b;
  --beleza: #fcf5e3;
  --beleza2: #f7f5ef;
  --elegancia: #e0bf47;
}
/* ------------------------------MOBILE FIRST -------------- */
/* ________________________________HEADER___________________ */
html{
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  background-color: var(--beleza2);
  font-family: "Teachers", sans-serif;
}
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes movimentoDireito {
  0%{
    opacity: 0;
    transform: translateX(50px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  animation: myAnim 2s ease-in 0s 1 normal forwards;
}
h2{
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.7rem;
}
a{
  text-emphasis: none;
  text-decoration: none;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  color: #f7e8e0;
}
header {
  background-color: var(--força);
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 777;
}
.imgHeader {
  height: 180px;
  width: 200px;
  border-radius: 0 0 999px 999px;
  box-shadow: rgba(191, 135, 50, 0.652) 0px 10px 10px;
}
header nav {
  background-color: #411b28e9;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 20px;
  width: 70%;
  top: 90px;
  right: 0;
  height: 0;
  z-index: -1;
  overflow: hidden;
  transition: 500ms ease-in;
  border-radius: 20px;
}
header nav a {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--beleza);
  padding: 1rem;
  color: b;
}
header nav a:hover {
  background-color: #f4edcf;
  color: #411c29;
  border-radius: 99px;
  border-bottom: 1px solid var(--beleza);
  transition: all 0.5s ease;
}
input:checked ~ nav {
  height: 80vh;
}
input {
  display: none;
}
.menu {
  color: #f7f5ef;
  display: block;
  font-size: 4rem;
  margin-right: 20%;
}
.menu label {
  width: 60px;
  height: 60px;
  position: absolute;
}
input:checked ~ .menu .ph-list {
  display: none;
}
.ph-x {
  display: none;
}
input:checked ~ .menu .ph-x {
  display: block;
}
/* --------------------------BODY CONTENT------------------------ */
#Home {
  background-color: var(--força);
  position: relative;
  z-index: -3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  padding: 60px 0;
  overflow: hidden;
}
#Home > img {
  position: absolute;
  height: 300px;
}
.homeContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img/bacgroundReviva.png);
  background-repeat: repeat-x;
  background-position: center;
  position: relative;
  height: 450px;
}
.homeContent > img {
  height: 450px;
  position: absolute;
}
.homeContent h1 {
  background-color: rgba(240, 248, 255, 0.266);
  backdrop-filter: blur(2px);
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  max-width: 350px;
  padding: 25px;
  position: relative;
  bottom: -35%;
  color: var(--força);
}
#ladoDireito {
  top: 4%;
  right: 5%;
  z-index: 1;
}
#ladoEsquerdo {
  bottom: 4%;
  left: 5%;
}
/* ---------------------------PROCEDIMENTOS------------------------ */
.Procedimentos {  
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
.tituloProcedimento {
  color: var(--luxo);
  width: 100%;
  text-align: center;
  margin: 30px 0;
  font-size: 2.75rem;
}
.cardProcedimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}
.cardProcedimento {
  border-radius: 20px;
  margin:10px 24px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.cardProcedimentoContent {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 24px;
  z-index: -7;
}
.cardProcedimentoContent > img {
  width: 140px;
  height: 200px;
  box-shadow: 0px 0px 8px 2px #cc8b2bc4;
  border-radius: 99px 99px 0 0;
  object-fit: cover;
}
#cardProcedimentoReverse {
  flex-direction: row-reverse;
}
.cardProcedimento > h2 {
  text-align: center;
  font-weight: 300;
  padding: 20px 0;
  color: var(--força);
}
.cardProcedimentoContent > p {
  color: var(--força);
}
.cardProcedimento:last-child {
  margin-bottom: 50px;
}
/* -----------------------------SOBRE CLININCA------------------------------ */
.informacoesCoren{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--força);
}
.sobreClinica > img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
.informacoesCoren h3{
  font-weight: 100;
}
.sobreClinica{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding: 130px 0;
  background: linear-gradient(45deg, hsla(30, 46%, 84%, 1) 0%, hsl(32, 38%, 92%) 15%,hsl(34, 56%, 91%) 15%, hsla(17, 41%, 97%, 1) 60%);
}
.sobreClinica h1{
  animation: none;
}
.sobreClinicaCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.sobreClinicaContent{
  margin: 30px;
}
.sobreClinicaCard img{
  height: 350px;
  width: 250px;
  object-fit: cover;
}

/* ----------------------------CONTATO------------------------------------ */

.informacoesContato{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  gap: 24px;
  color: #a55974;
}
.informacoesGoogleMaps iframe{
  height: 350px;
  width: 100%;
}
.botaoContatos{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}
.marqueSuaConsulta, .instagram{
  background-color: var(--feminilidade);
  font-family: "Josefin Sans", sans-serif;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  color: #f7e8e0;
  border: none;
  cursor: pointer;
}
button:hover{
  background-color: var(--força);
  box-shadow: 21px 33px 40px -15px rgba(0,0,0,0.1);
  font-size: 1.5rem;
}
.marqueSuaConsulta a, .instagram a {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.25rem;
}
.instagram i, .marqueSuaConsulta i{
  font-size: 2.5rem;
}
/* --------------------------- FOOTER -------------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--beleza);
  padding: 20px;
  background-color: var(--força);
}
footer > img {
  width: 50px;
}
@media only screen and (min-width: 960px) {
  header{
    align-items: center;
    justify-content: space-around;
  }
  .imgHeader {
    height: 180px;
    width: 200px;
  }
  header nav{
    overflow: visible;
    flex-direction: row;
    position: unset;
    height: auto;
    justify-content: space-evenly;
  }
  header nav a{
    font-size: 1.75rem;
  }
  .menu{
    display: none;
  }
  #Home{
    margin-top: 140px;
  }
  .cardProcedimentos{
    gap: 10%;
  }
  .cardProcedimento{
    max-width: 500px;
    margin-bottom: 4%;
    padding: 20px;
  }
  .sobreClinica{
    padding: 50px 0;
    gap: 10px;
  }
  .sobreClinicaCard{
    margin: 0 250px;
    flex-direction: row;
    justify-content: space-between;
  }
  .reverse{
    flex-direction: row-reverse;
  }
  .sobreClinicaContent{
    color: var(--força);
    align-items: center;
    width: 50%;
    font-size: 1.1rem;
  }
  .informacoesContato{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
  }
  .aReviva{
    margin-left: 24px;
  }
  .aReviva, .botaoContatos{
    width: 50%;
  }
}
